body, body * {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  outline-offset: 0;
  border: none;
  background: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;

  hyphens: auto;
  list-style: none;
  overflow-wrap: break-word;
  resize: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  word-wrap: break-word;
}

svg * {
  transition-property: fill, stroke;
}

form {
  display: contents;
}

/*::-webkit-scrollbar {
  width: 0;
  height: 0;
}*/
